.env
.DS_Store
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.tmp
*.swp
*.swo
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.coveragerc
.coverage
.coverage.*
htmlcov/